{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    {% include "layouts/links.html" %}
</head>
<style>

</style>

<body>
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Topbar Start -->
        {% include "user/layouts/top-user.html" %}
        <!-- end Topbar -->

        <!-- ========== Left Sidebar Start ========== -->
        {% include 'user/layouts/sidebar-user.html' %}

        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Xeria</a></li> -->
                                        <li class="breadcrumb-item">
                                            <a href="javascript: void(0);">Transaction</a>
                                        </li>
                                        <li class="breadcrumb-item active">{{ title }}</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">{{ title }}</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-7"></div>
                                        <div class="col-lg-5">
                                            <form class="form-inline" method="get">
                                                <div class="form-group mx-sm-3">
                                                    <label class="mr-2">Transaction Type:</label>
                                                    <select name="transaction_type" class="custom-select">
                                                        {% for item in myFilter.form.transaction_type %}
                                                        {{ item }}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <button type="submit" name="seachRequest" class="btn btn-danger waves-effect waves-light">
                                                    <i class="mdi mdi-filter"></i>
                                                    Filter</button>
                                            </form>
                                        </div>
                                    </div>
                                    <h4 class="header-title" style="font-size: 20px; margin-bottom: 20px;">
                                        {{ contentheader }}
                                    </h4>

                                    <table id="datatable" class="table table-hover m-0 table-centered dt-responsive nowrap w-100">
                                        <thead style="background-color: #f3c4c4;">
                                            <tr>
                                                <th width="15%">Transaction No</th>
                                                <th width="10%">Account No</th>
                                                <th width="10%">Status</th>
                                                <th width="10%">Type</th>
                                                <th width="10%">Last Balance</th>
                                                <th width="10%">Amount</th>
                                                <th width="10%">Current Balance</th>
                                                <th width="10%">Date</th>
                                                <th width="5%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in data %}
                                            <tr style="
                            font-family: Arial;
                          ">
                                                <td style="color: red;">
                                                    {{ item.transaction_no }}
                                                </td>
                                                <td>{{ item.get_account_no }}</td>
                                                <td>
                                                    {% if item.status == 0 %}
                                                    <span class="dtr-data"><span
                                                            class="btn btn-primary btn-sm w-100">Pending</span></span>
                                                    {% elif item.status == 1 %}
                                                    <span class="dtr-data"><span
                                                            class="btn btn-success btn-sm w-100">Approve</span></span>
                                                    {% elif item.status == 2 %}
                                                    <span class="dtr-data"><span
                                                            class="btn btn-danger btn-sm w-100">Disapprove</span></span>
                                                    {% else %}
                                                    <span class="dtr-data"><span
                                                            class="btn btn-dark btn-sm w-100">Done</span></span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if item.transaction_type.ttype.id == 1 %}
                                                    <span class="dtr-data"><span
                                                            class="badge badge-success">Saving</span></span>
                                                    {% else %}
                                                    <span class="dtr-data"><span
                                                            class="badge badge-danger">Deduction</span></span>
                                                    {% endif %}
                                                </td>
                                                <td style="font-size: large;">₱ {{ item.last_balance }}</td>
                                                <td style="font-size: large;">₱ {{ item.amount }}</td>
                                                <td style="font-size: large;">₱ {{ item.current_balance }}</td>
                                                <td>{{ item.date_created }}</td>
                                                <td>
                                                    <button type="button" id="viewTransac" class="btn btn-info waves-effect waves-light" style="background: #49cd6e;">
                                                        <i class="fe-eye"></i>
                                                        <input type="hidden" id="transaction-id" name="transaction_no"
                                                            value="{{ item.id }}">
                                                    </button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- end card body-->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- container -->
            </div>
            <!-- content -->

            <!-- Footer Start -->
            {% include "user/layouts/footer-user.html" %}
            <!-- end Footer -->
        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <!-- Vendor js -->
    {% include "layouts/js.html" %}
    <!-- MOdal View Details -->
    <div id="viewTransacModal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none; padding-right: 16px;" aria-modal="true">
        <!-- <div class="modal fade bs-example-modal-lg show" id="viewDetailModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none; padding-right: 16px;" aria-modal="true"> -->
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #da7557;">
                    <h2> Transaction No: <label id="transaction_no"></label></h2>
                    <h4 class="modal-title" id="myLargeModalLabel"></h4>
                    <input type="hidden" id="request-id" name="request-id" />
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body" style="padding: 0rem;">
                    <div class="modal-body p-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="invoice">
                                    <div id="mid">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="info">
                                                    <h4>Transaction Info</h4>
                                                    <p>
                                                        TTYPE : <label id="transac_type"></label>
                                                        </br>
                                                        Transaction :
                                                        <label id="transac_detail"></label>
                                                        </br>
                                                        Status :
                                                        <span id="status-ok" class="badge badge-success">Done</span>
                                                        <span id="status-not" class="badge badge-danger">Not yet
                                                            done</span> </br>Request No. : <label id="request_no"></label>

                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="info">
                                                    <h4>Account Info</h4>
                                                    <p>
                                                        Account No. : <label id="account_no"></label>
                                                        </br>
                                                    </p>
                                                    <p>
                                                        Balance. : <label id="balance"></label>
                                                        </br>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="info">
                                                    <h4>Contact Info</h4>
                                                    <p>

                                                        Employee No.: <label id="employee_number"></label> </br> Name:
                                                        <label class="employee_name"></label>
                                                        </br>
                                                        Contact Number: <label id="mobile_number"></label></br>
                                                        Company: <label id="company"></label> <br> Postion: <label id="position"></label>
                                                        </br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Invoice Mid-->
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table id="trasactionTable" class="table mb-0">
                                                <thead style="background-color: #23b397;">
                                                    <tr>
                                                        <th>Last Balance</th>
                                                        <th>Amount</th>
                                                        <th>Current Balance</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="">
                                                    <tr>
                                                        <th id="last_balance">₱ </th>
                                                        <th id="amount">₱ </th>
                                                        <th id="current_balance">₱ </th>
                                                        <th class="dtr-data" id="date_created">
                                                        </th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div>
                                        <br>
                                        <div class="row">
                                            <!--End Table-->

                                            <div id="legalcopy">
                                                <label class="legal"><strong>Remarks</strong>  </label>
                                                <label class="legal" id="remark">  </label>

                                            </div>

                                        </div>

                                        <div class="row">
                                            <!--End Table-->

                                            <div id="legalcopy">
                                                <p class="legal"><strong>Realease By</strong>
                                                    <label id="realease_by"></label>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <!--End InvoiceBot-->
                                </div>
                                <!--End Invoice-->

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- MOdal View Details -->
</body>

</html>
<script>
    $(document).ready(function() {
        $("#transactionview").DataTable();
    });
    $(document).ready(function() {
        $("#datatable").DataTable({
            order: [
                [3, "desc"]
            ],
        });
    });
    $(document).on("click", "#addUser", function() {
        $("#addUserModal").modal("show");
    });

    $(document).on("click", "#viewTransac", function() {
        var transaction_id = $(this).find("#transaction-id").val();
        $.ajax({
            url: "{% url 'bond_fund:view-transaction' %}",
            method: "GET",
            dataType: "JSON",
            data: {
                transaction_id: transaction_id,
            },
            success: function(data) {
                var date = new Date(data.date_created);
                $("#transaction_no").text(data.transaction_no);
                $("#amount").text(data.amount);
                $("#last_balance").text(data.last_balance);
                $("#current_balance").text(data.current_balance);
                $("#remark").text(data.remark);
                $("#status").text(data.status);
                $("#realease_by").text(data.realease_by);
                $("#date_created").text(
                    (date.getMonth() > 8 ?
                        date.getMonth() + 1 :
                        "0" + (date.getMonth() + 1)) +
                    "/" +
                    (date.getDate() > 9 ? date.getDate() : "0" + date.getDate()) +
                    "/" +
                    date.getFullYear());
                $("#transac_type").text(data.transac_type);
                $("#account_no").text(data.account_no);
                $("#transac_detail").text(data.transac_detail);
                $("#company").text(data.company);
                $("#request_no").text(data.request_no);
                $("#position").text(data.position);
                $("#employee_number").text(data.employee_number);
                $(".employee_name").text(data.employee_name);
                $("#mobile_number").text(data.mobile_number);
                $("#balance").text(data.balance);

                if (data.status == 4) {
                    $("#status-not").hide();
                    $("#status-ok").show();

                } else {
                    $("#status-ok").hide();
                    $("#status-not").show();


                }

                //if () -->
                $("#viewTransacModal").modal("show")

            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert("Error get data from ajax");
            },
        });
    });

    $(document).on("click", "#viewUser", function() {
        $("#viewDetails").modal("show");
    });
</script>