{% load static %} {% include "components\header.html" %}
<style></style>

<body style="background-color: #984b53;" class="authentication-bg authentication-bg-pattern">
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center w-75 m-auto">
                                <a href="index.html">
                                    <h2>JacLiner<br> BondFund</h2>
                                    <!-- <span><img
                        src="{% static 'dist/assets/images/logo-dark.png' %}"
                        alt=""
                        height="18"
                    /></span> -->
                                </a>
                                <p class="text-muted mb-4 mt-3">
                                    <!-- Enter your email address and password to access admin panel. -->
                                </p>
                            </div>

                            <h5 class="auth-title">Sign In</h5>

                            <form class="form-signin" method="POST">

                                <div class="form-group mb-3">
                                    <label for="emailaddress">Email address</label>
                                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                </div>
                                {% for field in login_form %}
                                <p>
                                    {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </p>
                                {% endfor %} {% if login_form.non_field_errors %}
                                <div style="color: red">
                                    <p>{{login_form.non_field_errors}}</p>
                                </div>
                                {% endif %}
                                <div class="form-group mb-0 text-center">
                                    <button class="btn btn-danger btn-block" type="submit">
                                        Log In
                                    </button>
                                </div>
                                {% csrf_token %}
                            </form>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p>
                                <a href="pages-recoverpw.html" class="text-muted ml-1">Forgot your password?</a>
                            </p>
                            <p class="text-muted">
                                Don't have an account?
                                <a href="{% url 'account:registration' %}" class="text-muted ml-1"><b
                                        class="font-weight-semibold">Sign Up</b></a>
                            </p>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    {% include "components/footer.html" %} {% include "components/js.html" %}

</body>

</html>