{% load static %}



<!-- Vendor js -->
<script src="{% static 'dist/assets/js/vendor.min.js' %}"></script>

<!-- third party js -->
<script src="{% static 'dist/assets/libs/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dist/assets/libs/datatables/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'dist/assets/libs/datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'dist/assets/libs/datatables/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'dist/assets/libs/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'dist/assets/libs/datatables/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'dist/assets/libs/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'dist/assets/libs/datatables/buttons.flash.min.js' %}"></script>
<script src="{% static 'dist/assets/libs/datatables/buttons.print.min.js' %}"></script>
<script src="{% static 'dist/assets/libs/datatables/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'dist/assets/libs/datatables/dataTables.select.min.js' %}"></script>
<!-- <script src="{% static 'dist/assets/libs/pdfmake/pdfmake.min.js' %}"></script> -->
<script src="{% static 'dist/assets/libs/pdfmake/vfs_fonts.js' %}"></script>


<script src="{% static 'dist/assets/libs/jquery-nice-select/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'dist/assets/libs/switchery/switchery.min.js' %}"></script>
<script src="{% static 'dist/assets/libs/select2/select2.min.js' %}"></script>
<!-- <script src="{% static 'dist/assets/libs/bootstrap-select/bootstrap-select.min.js' %}"></script> -->
<!-- bootstrap-select/bootstrap-select.js.map -->
<script src="{% static 'dist/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'dist/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>

<!-- Init js-->
<script src="{% static 'dist/assets/js/pages/form-advanced.init.js' %}"></script>

<!-- third party js ends -->

<!-- Datatables init -->
<script src="{% static 'dist/assets/js/pages/datatables.init.js' %}"></script>

<!-- App js -->
<script src="{% static 'dist/assets/js/app.min.js' %}"></script>



<!-- Sweet Alerts js -->
<script src="{% static 'dist/assets/libs/sweetalert2/sweetalert2.min.js' %}"></script>

<!-- Sweet alert init js-->
<script src="{% static 'dist/assets/js/pages/sweet-alerts.init.js' %}"></script>